-- Create a SQL function to check if an email exists
CREATE OR REPLACE FUNCTION public.check_if_email_exists(email_to_check TEXT)
RETURNS BOOLEAN
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
DECLARE
  email_exists BOOLEAN;
BEGIN
  SELECT EXISTS (
    SELECT 1 FROM auth.users 
    WHERE email = email_to_check
  ) INTO email_exists;
  
  RETURN email_exists;
END;
$$;
